body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.877);
    color: white;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.877);
    padding: 0px 5%;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.700);
}

nav ul {
    display: flex;
}

nav ul li a {
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: white;
}

.logo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    font-weight: 800;
    color: white;
}

.home p {
    line-height: 0px;
    font-size: 20px;
    padding: 6px 0px;
    font-family:Arial, Helvetica, sans-serif;
}

.home p:nth-child(1) {
    font-size: 50px;
    font-weight: 900;
    line-height: 0;
}

.home {
    position: absolute;
    left: 13%;
    right: 10%;
    top: 32%;
    transform: translate(3%, 40%);
}

.picture img {
    width: 250px;
    height: auto;
    z-index: -1;
    position: absolute;
    left: 73%;
    top: 3%;
    transform: translateX(-50%);
}

#home {
    width: 100%;
    height: 80vh;
    position: relative;
}

.tentang {
    padding: 3% 3% 6%;
    box-shadow: 0px 0px 2px 2px  rgba(0, 0, 0, 0.700);

}

.ten-disk {
    margin: 0 50px 50px;
}

.ten-disk p:nth-child(1) {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    line-height: 0;
    padding-top: 0;
}

.ten-disk p:nth-child(2)  {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    padding-bottom: 50px;
    text-align: center;
}

.medsos {
    display: flex;
    text-align: center;
    justify-content: space-around;
    
}

.medsos img {
    height: 50px;
    width: 50px;
}

.medsos a {
    text-decoration: none;
    color: white;
    padding: 2% 10% 10%;
}

.wa, .ig, .email {
    width: 350px;
    box-shadow: 2px 5px 5px 2px #000000c8;
    flex-direction: column;
    padding:25px 0;
    font-size: 20px;
}

.kem-disk {
    margin: 0 50px 50px;
    padding: 0 50px;
}

.kem-disk p:nth-child(1) {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    padding-top: 0;
}

.kem-disk p:nth-child(2)  {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    text-align: center;
    
}

.kemampuan {
    display: flex;
    text-align: justify;
    justify-content: space-around;
    margin: 4% 5%;

}

.figma p:nth-child(1) {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.css p:nth-child(1) {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.html p:nth-child(1) {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.html, .figma, .css {
    width: 350px;
    padding: 0 20px;
    box-shadow: 2px 2px 2px 2px #000000c9;
    font-size: 18px;
}
#kontak {
    padding: 20px 0;
    box-shadow: 0px 0px 2px 2px  rgba(0, 0, 0, 0.700);
}
.kontak {
    margin: 0 50px;
    padding: 0 50px;
}

.kontak p:nth-child(1) {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.kontak p:nth-child(2)  {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    text-align: center;
    
}

input[type=text], select, textarea {
   width: 100%;
   padding: 12px;
   border: 1px solid #000;
   border-radius: 5px;
   box-sizing: border-box;
   margin-top: 6px;
   margin-bottom: 15px;
   resize: vertical;
   background-color: rgba(0, 0, 0, 0.297);
   color: white;
}

input[type=submit]{
    background-color: green;
    padding: 5px 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


input[type=submit]:hover{
    background-color: black;
    color: white;
}

footer {
    background-color: #00000084;
   
}

.footer {
    box-shadow: 0px 0px 2px 2px  rgba(0, 0, 0, 0.55);
}
.footer p {
    text-align: center;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 2px white;
}

.nav ul {
    list-style: none;
}

.nav a {
    text-decoration: none;
}

.nav {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0px 5%;
    justify-content: center;
}

.nav ul {
    display: flex;

}

.nav ul li a {
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: white;
}
